<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>VenteLivresBDD</display-name>
  <welcome-file-list>
    <welcome-file>/VIEW/test.jsp</welcome-file>
  </welcome-file-list>
  
	<servlet>
		<servlet-name>ServletAuthor</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletAuthor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAuthor</servlet-name>
		<url-pattern>/ServletAuthor</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletBook</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletBook</servlet-name>
		<url-pattern>/ServletBook</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletCategory</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletCategory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCategory</servlet-name>
		<url-pattern>/ServletCategory</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletEditor</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletEditor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEditor</servlet-name>
		<url-pattern>/ServletEditor</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletLocality</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletLocality</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLocality</servlet-name>
		<url-pattern>/ServletLocality</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletOrder</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletOrder</servlet-name>
		<url-pattern>/ServletOrder</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletOrderline</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletOrderline</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletOrderline</servlet-name>
		<url-pattern>/ServletOrderline</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletOrderstatus</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletOrderstatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletOrderstatus</servlet-name>
		<url-pattern>/ServletOrderstatus</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletOrderstatushistory</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletOrderstatushistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletOrderstatushistory</servlet-name>
		<url-pattern>/ServletOrderstatushistory</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletRole</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletRole</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletRole</servlet-name>
		<url-pattern>/ServletRole</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletUser</servlet-name>
		<servlet-class>package.be.atc.servlets.ServletUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletUser</servlet-name>
		<url-pattern>/ServletUser</url-pattern>
	</servlet-mapping>
</web-app>